        .containerGray {
            background-color: rgb(32, 32, 32);
            margin: auto;
        }

        .quizBodyText {
            margin: 10px;
            font-family: italiana;
            color: white;
            font-size: 30px;
        }

        .quizTitleText {
            margin: 20px;
            font-family: italiana;
            color: rgb(218, 165, 32);
            font-size: 60px;
        }

        .learnTitleText{
            padding: 0px !important;
            font-family: italiana;
            color: white;
            font-size: 60px;
        }

        .quizResultBodyText {
            margin: 10px;
            font-family: italiana;
            color: white;
            font-size: 30px;
            text-align:center;
        }

        .quizResultTitleText {
            margin: 20px;
            font-family: italiana;
            color: rgb(218, 165, 32);
            font-size: 60px;
        }
        #submitButton{
            color:rgb(218, 165, 32);
            margin-left: auto !important;
            margin-right: auto !important;
            display: flex !important; 
            justify-content: center!important;
            font-size: 24px;
            padding: 12px 28px;
            border-radius: 0px;
        }

        #undoButton{
            color: white !important;
            font-size: 24px;
            padding: 12px 28px;
            border-radius: 0px;
        }
       
        #resetButton{
            color: white !important;
            font-size: 24px;
            padding: 12px 28px;
            border-radius: 0px;
        }
       
        
        #quizResultButton1{
           margin-left: auto !important;
           margin-right: auto !important;
           display: flex !important; 
           justify-content: center!important;
        }
        #quizResultButton2{
            margin-left: auto !important;
            margin-right: auto !important;
            display: flex !important; 
            justify-content: center!important;
        }
        #backToHomePageButton{
            margin: auto;
            color: rgb(218, 165, 32);
        }
        #ingredientsRow{
            margin:auto;
        }
        .ingredients {
            font-size: 20px;
            font-family: italiana;
            width: 100;
            height: 100;
            text-align: right;
        }

        .quizIngredientsText {
            margin: 20px;
            font-family: italiana;
            color: white;
            font-size: 20px;
        }

        .ingredients:hover {
            cursor: move;
        }

        .highlightActive {
            background-color: darkgray;
        }

        .highlightHover {
            background-color: rgb(218, 165, 32);
        }

        .center {
            height: 46.4px;
            line-height: 46.4px; /* same as height! */
          }
        .horizontally-centered {
            text-align: center;
        }
        
        
        .custom-card{
            background-color: rgb(32, 32, 32);
            color: white;
            border-color: white;
            border-radius: 0%;
        }
        
        /* .practice-btn{
            margin: auto;
            background-color: white;
            border-color: white;
            color: black;
        } */
        
        .gap-3{
            margin: 10px;
        }
        
        h1,h2, h3, h4, h5, h6{
            color: white;
            
        }
        
        body {
            background-color: rgb(32, 32, 32);
            font-family: 'DM Sans', sans-serif;
        }
       
        .center-text{
            text-align: center;
        }



        /***** Nav Bar*******/
        .navbar{
            font-size: 18px;
            font-weight: 100;
            font-family: italiana;
            
        }
        a.goldenText:hover{
            color: goldenrod;

        }

        .navbar-brand{
            font-size: 24px;
            font-family: italiana;
            font-weight: bolder;
        }

        .mr-auto{
            color:white;
        }



        /***** Welcome intro to website and instructions */
        .homeTitle{
            display: flex;
            justify-content: center;  
        }
        .welcomeLine1{
            /* margin: 20px;
            margin-bottom: 10px; */
            color: white;
            font-size: 75px;
            font-weight: 100;
            font-family: italiana;
            

        }

        .homeInstruction{
            display: flex;
            justify-content: center;  

        }

        .welcomeLine2{
            color: white;
            margin-bottom: 20px;
            font-size: 28px;
            font-family: italiana;

        }

        .homeInstruction2{
            display: flex;
            justify-content: center;  
        }

        .welcomeLine3{
            color: rgb(154, 154, 154);
            margin-bottom: 60px;
            font-size: 20px;
            font-family: italiana;

        }

        /******* Dynamic Cards on Home page *******/
        .col-md-4{
            font-family: italiana;
        }
        .customHomeCard{
            width: 250px;
            height: 370px;

        }

        .centerCardContents{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .card-img-top{
            /*display: block;*/
            margin: auto;
            width: 175px;
            
        }
        
        

        .ratio-images{
            margin-right:30px;
            margin-left:30px;
            margin-top: 10px;
            height: 262px;
            display: flex;
            
        }
        
        .btn-container{
            margin-top: -2.5rem;
            /* background-color: rgb(218, 165, 32); */
        }

        .btn-in-home-cards{
            display: block;
            margin-left:auto;
            margin-right: auto;
            padding: 8px;
            width: 190px;
            

        }

        



        
        .learn-drink-btn{
            color: black;
            background-color: white;   
            border-color: white;
            margin-bottom: 8px;
            

        }

        /* .take-quiz-btn{
            color: white;
            background-color: rgb(32, 32, 32)
            ;
            border-color: white;  
        
        } */

        .btn {
            /* display: inline-block; */
            outline: none;
            background: transparent;
            text-transform: uppercase;
            font-weight: 500;
            font-style: normal;
            font-size: 0.900rem;
            /* letter-spacing: 0.3em; */
            color: rgba(218,165,32,0.8);
            border-radius: 0;
            /* padding: 18px 80px 20px; */
            transition: all 0.7s ease-out;
            background: linear-gradient(270deg, rgba(218,165,32,1), rgba(218,165,32,0.1), rgba(34,34,34,0), rgba(34,34,34,0));
            background-position: 1% 50%;
            background-size: 300% 300%;
            text-decoration: none;
            /* margin: 0.625rem; */
            border: none;
            border: 1px solid rgba(223,190,106,0.3);
          }
          
          .btn:hover {
            color: #fff;
            border: 1px solid rgba(223,190,106,0);
            color: $white;
            background-position: 99% 50%;
          }
    

          .whiteBtn {
            /* display: inline-block; */
            outline: none;
            background-color: white;
            text-transform: uppercase;
            font-weight: 500;
            font-style: normal;
            font-size: 0.900rem;
            /* letter-spacing: 0.3em; */
            color: rgb(32,32,32);
            border-radius: 0;
            /* padding: 18px 80px 20px; */
            transition: all 0.7s ease-out;
            /* background: linear-gradient(270deg, rgba(218,165,32,1), rgba(218,165,32,0.1), rgba(34,34,34,0), rgba(34,34,34,0)); */
            background-position: 1% 50%;
            background-size: 300% 300%;
            text-decoration: none;
            /* margin: 0.625rem; */
            border: none;
            border: 1px solid rgba(247, 246, 243, 0.3);
          }
          
          .whiteBtn:hover {
            color: rgba(218,165,32);
            border: 1px solid rgba(255, 255, 255, 0);
            /* color: $white; */
            background-position: 99% 50%;
          }


        /* .btn:hover {
            
            color: #fff;
            border: 1px solid rgba(223,190,106,0);
            color: $white;
            background-position: 99% 50%;
          } */




        /*****Video on learn page***/

        .iframe-container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 85%;
            background-color: black;
        }
          
        
    
        .thumbnail-video {
            margin: auto;
            display: block;
            position:absolute;
            top: 17%;
            left: 0;
            width: 100%;
            height: 65%;
            border:none;
        }

       
        

       /*****Ingredients title on the learn page****/
       .titleRow{
           color:rgb(218, 165, 32);
           display: flex;
       }

       .ingredientsTitleRow{
        display: flex;
        
    }

       #ingredientsTitle{
           font-size: 35px;
           /* margin: 50px; */
           margin-top:25px;
           /* margin-left:50px; */

       }

       .ingredient_labels {
        color: white;
        padding-bottom: 10;
        font-family: italiana;
        font-size: 25px;
       
      }

      .imgOfIngredients {
        margin-left: 10px;
        margin-top: -30px;
        height: 100%;
        width: 100%;
      }

      .cardIngredients {
        border-color: white;
        background-color: transparent;
        width: 270px;
        height: 110px;
        color: white;
        margin: 5px;
      
        border-radius: 0%;
      }
    

      .alc-name {
        font-family: italiana;
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 115px;
        
      }

      .alc-info{
        font-family: italiana;
        
      }

      


      /*****Facts *********/
      .fact-container{
          margin-top: 20px;

      }

      .card-title-fact {
        font-size: 25px;
        text-decoration: underline;
        font-family: italiana;
        
      }

      .card-text-blurb {
        font-size: 18px;
        font-family: italiana;
      }

      /* .vstack {
        border-color: white;
        margin: auto;
        width: 60%;
      } */
      .stack-of-facts {
        width: 40rem;
      }

      .btn-primary {
        background-color: white;
        border-color: white;
        color: black;
      }
      
      .practiceButton {
          margin-top: .5rem;
          padding: 10px 50px;
      }
      /* .practiceButton {
        display: block;
        height: 40px;
        width: 5rem;
        font-size: 15px;
        margin: 6px;
        font-family: italiana;
        border-radius: 0%;
        color:rgb(218, 165, 32);
      } */

        .quizResultDrinkImage{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }


        /*********Practice HTML*********/

        /*
    .headers {
      margin-top: 3rem;
    }
    .right-header {
      font-size: 21px;
    }*/

    #name-of-drink{
        color: rgb(218,165,32);
    }
    
    .mainContent{
        font-family: italiana;

    }

    .practice-questions {
        padding-bottom: 15px;
        font-size: 22px;
        
      }
   
      

      input::placeholder{
        overflow: visible;
      }
      label { 
        color:white;
        margin-right: 10px;
      }

      /* #ingredient_0 */
      
      #fname{
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        background-color: transparent;
      }
      .no-outline:focus {
        outline: none;
      }
      input::placeholder{
        overflow: visible;
      }
  
      .check{
        position:relative;
      }
      
      form{
        color:white;
      }
      
      .check{
        color:white;
        background-color:transparent;
        border-color:white;
      }
  
      .custom-white-card {
                background-color: transparent;
                border-color: white;
                border-radius: 0%;
                color: white;
      }
  
      .visible{
        visibility: visible;
      }
  
      .invisible{
        visibility: hidden;
      }
  
      .wrong-background{
        background-color: #ffa38f;
      }
  
      .right-background{
        background-color: #8fff98;
      }


      .row.headers{
          margin-bottom: -1rem;
          display: flex;
          justify-content: center;
          
      }
      .drinksReady{
          display: flex;
          justify-content: center;
      }

      .drinkPic{
        display: flex;
        justify-content: center;
        
        
    }

    .areYou{
        display: flex;
        justify-content: center;
        margin-bottom: -1rem;
    }

    .harder{
        display: flex;
        justify-content: center;
    }

    .button1{
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
        
        
        

    }

    .button2{
        display: flex;
        justify-content: center;    
        
        
    }

    .firstBtn{
        padding: 6px 12px;

    }
    

    a.firstBtn:hover{
        text-decoration: underline;
        text-decoration-color:  goldenrod;

    }
    /*
    a.secondBtn:hover{
        border-color: goldenrod;

    } */

    .btn-light{
        border-radius: 0%;

    }

    .btn-dark{
        border-color: white;
        border-radius: 0%;
        background-color: rgb(32, 32, 32);
        
        
    }



    .practQuizImg{
        width: 200px;
        height: 200px;
        

    }

    

    /* .btn-lg-custom{
        width: 350px;
        font-size:26px;
    } */
    
      /* .practiceQuizContainer{
        font-family: italiana;
        color: white;
        font-size: 30px;

      } */
       
    .practice-instructions-text{
            color: rgb(154, 154, 154);
            margin-top: 20px;
            margin-bottom: 50px;
            font-size: 20px;
            font-family: italiana;

    }

    .practice-input{
        background-color:transparent;
        outline:none;
        color:  white;
        border: none;
        border-bottom: 2px solid white;
        margin-right: 10px;
    }

    .need-hint{
        margin-top: -100px;
    }

    .imgOfIngredientsHint {
        margin-left: 10px;
        margin-top: 10px;
        height: 100%;
        width: 100%;
      }

    .cardIngredientsHint {
        border-color: white;
        background-color: transparent;
        width: 270px;
        height: 110px;
        color: white;
        margin: 5px;
        margin-left: 22px;
        border-radius: 0%;
    }
    .alc-name-hint {
        font-family: italiana;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px; 
      }

      .alc-info-hint{
        font-family: italiana;
        margin: 0;
      }

    #showHint{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .not-ready-text{
            color: rgb(154, 154, 154);
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 20px;
            font-family: italiana;

    }