     .containerGray {
            background-color: rgb(32, 32, 32);
        }

        .quizBodyText {
            margin: 10px;
            font-family: italiana;
            color: white;
            font-size: 30px;
        }

        .quizTitleText {
            margin: 20px;
            font-family: italiana;
            color: white;
            font-size: 60px;
        }

        .ingredients {
            width: 100;
            height: 100;
        }

        .quizIngredientsText {
            margin: 20px;
            font-family: italiana;
            color: white;
            font-size: 20px;
        }


        .ingredients:hover {
            cursor: move;
        }

        .highlightActive {
            background-color: darkgray;
        }

        .highlightHover {
            background-color: gray;
        }
