        .containerGray {
            background-color: rgb(32, 32, 32);
        }

        .quizBodyText {
            margin: 10px;
            font-family: italiana;
            color: white;
            font-size: 30px;
        }

        .quizTitleText {
            margin: 20px;
            font-family: italiana;
            color: white;
            font-size: 60px;
        }

        .quizResultBodyText {
            margin: 10px;
            font-family: italiana;
            color: white;
            font-size: 30px;
            text-align:center;
        }

        .quizResultTitleText {
            margin: 20px;
            font-family: italiana;
            color: white;
            font-size: 60px;
        }
        #pinaColadaButton{
           margin-left: auto !important;
           margin-right: auto !important;
           display: flex !important; 
           justify-content: center!important;
        }
        #moscowMuleButton{
            margin-left: auto !important;
            margin-right: auto !important;
            display: flex !important; 
            justify-content: center!important;
        }
        #backToHomePageButton{
            margin: auto;
        }
        .ingredients {
            width: 100;
            height: 100;
        }

        .quizIngredientsText {
            margin: 20px;
            font-family: italiana;
            color: white;
            font-size: 20px;
        }

        .ingredients:hover {
            cursor: move;
        }

        .highlightActive {
            background-color: darkgray;
        }

        .highlightHover {
            background-color: gray;
        }
