{% extends "layout.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}" />
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'home.js') }}"
></script>
<script>
  //add cocktails to be retrieved from server

  let cocktails= {{cocktails|tojson}}
</script>

<div class="container">
  <div class="row homeTitle"></div>
  <div class="row homeInstruction1"></div>
  <div class="row homeInstruction2">

  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 card-deck homeDynamicCardsRow"></div>
  </div>
</div>

{% endblock %}
