{% extends "layout.html" %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}" />
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'home.js') }}"
></script>
<script>
  //add cocktails to be retrieved from server

  let cocktails= {{cocktails|tojson}}
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12 welcomeLine1 center-text">
      LionBar
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 welcomeLine2 center-text">
      Learn about drinks and how to mix them
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 welcomeLine3 center-text">
      Choose a drink to learn or a quiz to test your knowledge about each drink
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 card-deck homeDynamicCardsRow"></div>
  </div>
</div>

{% endblock %}
