{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'learn.js') }}"
></script>

<script>
  let name = {{name}}
  console.log(name)
  let drink = {{drink|tojson}}
  let drink_name = {{drink_name}}
  let video_url = {{video_url| tojson}}
  let alcohol_img = {{alcohol_img| tojson}}
  let alcohol_vol = {{alcohol_vol| tojson}}
  let alcohol_timestamp = {{alcohol_timestamp| tojson}}
  let alcohol_name = {{alcohol_name| tojson}}
  let juice_img = {{juice_img| tojson}}
  let juice_vol = {{juice_vol| tojson}}
  let juice_timestamp = {{juice_timestamp| tojson}}
  let juice_name = {{juice_name| tojson}}
  let syrup_img = {{syrup_img| tojson}}
  let syrup_vol = {{syrup_vol| tojson}}
  let syrup_timestamp = {{syrup_timestamp| tojson}}
  let syrup_name = {{syrup_name| tojson}}

  let fun_fact = {{fun_fact | tojson}}
</script>

<!DOCTYPE html>

<html>
  <head> </head>
  <body class="containerGray">
    <div class="row">
      <div class="col-md-6">
        <div class="learnTitleText titleRow" id="title">{{drink_name[0]}}</div>
      </div>
      <div class="col-md-6">
        <div class="learnTitleText ingredientsTitleRow" id="ingredientsTitle">
          Ingredients
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="iframe-container">
          <iframe class="thumbnail-video" src="{{video_url}}"> </iframe>
        </div>
      </div>
      <div class="col-md-6">
        <!--ingredients go in this column-->
        <div class="row ingredient_labels">Alcohol:</div>
        <div class="row">
          {% for i in range(alcohol_img|length) %}
          <div class="card cardIngredients">
            <div class="row">
              <p class="alc-name">{{alcohol_name[i]}}</p>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img
                  class="imgOfIngredients alcohol-img"
                  src="{{alcohol_img[i]}}"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <p class="alc-info">
                  Volume: {{alcohol_vol[i]}} oz Timestamp:
                  {{alcohol_timestamp[i]}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row ingredient_labels">Juice:</div>
        <div class="row">
          {% for i in range(juice_img|length) %}
          <div class="card cardIngredients">
            <div class="row">
              <p class="alc-name">{{juice_name[i]}}</p>
            </div>
            <div class="row under">
              <div class="col-md-4 under">
                <img
                  class="imgOfIngredients alcohol-img"
                  src="{{juice_img[i]}}"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <p class="alc-info">
                  Volume: {{juice_vol[i]}} oz Timestamp: {{juice_timestamp[i]}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row ingredient_labels">Syrup:</div>
        <div class="row">
          {% for i in range(syrup_img|length) %}
          <div class="card cardIngredients">
            <div class="row">
              <p class="alc-name">{{syrup_name[i]}}</p>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img
                  class="imgOfIngredients alcohol-img"
                  src="{{syrup_img[i]}}"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <p class="alc-info">
                  Volume: {{syrup_vol[i]}} oz Timestamp: {{syrup_timestamp[i]}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!--dynamically creat fun fact cards with data from dictionary -->
    <div class="container fact-container">
      <div class="row justify-content-center">
        <div class="card cardIngredients stack-of-facts">
          <div class="card-body text-center">
            <h5 class="card-title-fact">Fun Fact</h5>
            <p class="card-text-blurb">{{fun_fact['fun_fact']}}</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="card cardIngredients stack-of-facts">
          <div class="card-body text-center">
            <h5 class="card-title-fact">Taste</h5>
            <p class="card-text-blurb">{{fun_fact['taste']}}</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="card cardIngredients stack-of-facts">
          <div class="card-body text-center">
            <h5 class="card-title-fact">Goes Well With</h5>
            <p class="card-text-blurb">{{fun_fact['goes_well_with']}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!--Practice button -->
  <div class="row button-width justify-content-center">
    <a class="practice-button" href="http://127.0.0.1:5000/practice/{{name}}">
      <button type="button" class="btn practiceButton">Practice</button>
    </a>
    <div class="footer">.</div>
  </div>
</html>
{% endblock %}
