{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>

<html>

<head>

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename = 'quizResult.js') }}"></script>

    <script>
        //add any data needed from the server

    </script>

    <style>

    </style>



</head>


<body class="containerGray">

    <div class="quizResultTitleText" id="title"></div>

    <div class="quizResultBodyText" id="instruction"></div>



<br><br><br><br>


    <div class="row">
        <!-- row for buttons that lead to with other two drinks to be learned-->
        <div class="col-md">
            <!-- col for reset button-->
            <button class="btn btn-light btn-lg" id="pinaColadaButton" type="button">Pina Colada</button>
        </div>

        <div class="col-md">
            <!-- col for undo button -->
            <button class="btn btn-light btn-lg" id="moscowMuleButton" type="button">Moscow Mule</button>
        </div>
    </div>
<br>

    <div class="row"><!-- row for the Back to homepage button-->
            <!-- col for submit button -->
        <button class="btn btn-light btn-lg" id="backToHomePageButton" type="button">Back to Homepage</button>
        
    </div>
</body>

</html>
{% endblock %}