{% extends "layout.html" %} {% block content %}

<!DOCTYPE html>

<html>
  <head>
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <!-- bootstrap  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'quiz.js') }}"
    ></script>
    <script>
      //userIngredientChoices the list of ingredients the user moved to the glass, in order they dragged them.
      let ingredients = {{ingredients| tojson}}
      let correct_ingredients = {{ correct_ingredients| tojson }}
      let glass = {{ glass| tojson }}
      let drink = {{drink| tojson}}
    </script>

    <style></style>
  </head>

  <body class="containerGray">
    <div class="quizTitleText" id="title">{{drink}}</div>

    <div class="quizBodyText" id="instruction">Drag and drop the necessary ingredients into the glass in the correct order to make a {{drink}}.</div>

    <div class="row quizBodyText" id="ingredientsRow">
      <!-- row for drink images/icons-->
    </div>

    <div class="row">
      <!--row for glass image/icon glass content text-->
      <div class="col-md quizBodyText glass" id="glass-holder"></div>

      <div class="col-md quizBodyText">
        <!-- col for glass contents textbox -->
        <div id="glassInstruction"></div>
        <div class="quizBodyText" id="glassInput"></div>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <!-- row for reset, undo, and  submit -->
      <div class="col-md">
        <!-- col for reset button-->
        <button class="btn btn-light btn-lg" id="resetButton" type="button">
          Reset
        </button>
      </div>

      <div class="col-md">
        <!-- col for undo button -->
        <button class="btn btn-light btn-lg" id="undoButton" type="button">
          Undo
        </button>
      </div>

      <div class="col-md">
        <!-- col for submit button -->
        <button class="btn btn-light btn-lg" id="submitButton" type="button">
          Submit
        </button>
      </div>
    </div>
    <br>
    <br>
  </body>
</html>
{% endblock %}
