{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>

<html>

<head>

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename = 'quizResult.js') }}"></script>

    <script>
        //add any data needed from the server
        let drink = {{drink| tojson}}
        let drink_list = {{drink_list | tojson}}
        let drink_link = {{drink_link | tojson}}
        let drink_image = {{drink_image| tojson}}
    </script>

    <style>

    </style>



</head>


<body class="containerGray">

    <div class="quizResultTitleText" id="title"></div>
    <div class="quizResultBodyText" id="feedback"></div>
    <div class="quizResultDrinkImage" id="drinkImage"></div>
    <div class="quizResultBodyText" id="instruction"></div>



<br><br>


    <div class="row">
        <!-- row for buttons that lead to with other two drinks to be learned-->
        <div class="col-md" id = "otherDrinkToLearn1">
        </div>

        <button class="btn whiteBtn" id="backToHomePageButton" type="button">Back to Homepage</button>
        
        <div class="col-md" id = "otherDrinkToLearn2">
        </div>


    </div>

</body>

<br>

</html>
{% endblock %}